<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clickhd.academy.mapper.UserMapper">

	<!-- 회원가입 시 개인 정보 저장 -->
	<insert id="insert_user_info">
		INSERT INTO member(userid, pw, name, gender, birth, phone, email, status, role, post, addr)
		VALUES (#{userid }, #{pw }, #{name }, #{gender}, #{birth }, #{phone }, #{email }, '입사', 'default', #{post }, #{addr })
	</insert>

	<select id="select_user" resultType="UserVO">
		SELECT * FROM member WHERE userid=#{userid }
	</select>
	
	<select id="select_userauth" resultType="String">
		SELECT role FROM member WHERE userid=#{userid }
	</select>
	
	<select id="select_user_list" resultType="UserVO">
		SELECT   @ROWNUM := @ROWNUM + 1 AS no,
		         m.* 
		FROM     member m, (SELECT @ROWNUM := 0) TMP
		WHERE    role='default'
		ORDER BY name ASC
	</select>

	<select id="select_user_count" resultType="Integer">
		SELECT count(*) FROM member WHERE userid=#{userid }
	</select>
	
	<update id="update_user">
		UPDATE member
		SET name=#{name }, birth=#{birth }, phone=#{phone }, email=#{email }, post=#{post }, addr=#{addr }
		WHERE userid=#{userid }
	</update>
	
	<update id="update_password">
		UPDATE member
		SET pw=#{pw }
		WHERE userid=#{userid }
	</update>
	
	<!-- 추가 부여 시 -->
	<update id="update_userauth">
		UPDATE member
		SET role=#{role }
		WHERE userid=#{userid }
	</update>

	<delete id="delete_user">
		DELETE FROM member WHERE userid=#{userid }
	</delete>
	
</mapper>