<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.mapper">

	<select id="login" resultType="member.MemberVO">
		SELECT * FROM member WHERE userid=#{userid } AND pw=#{pw }
	</select>

	<select id="id_check" resultType="integer">
		SELECT COUNT(*) FROM member WHERE userid=#{userid }
	</select>
	
	<insert id="join">
		INSERT INTO member(userid, pw, name, gender, birth, phone, email, status, employ, post, addr)
		VALUES (#{userid }, #{pw }, #{name }, #{gender}, #{birth }, #{phone }, #{email }, '입사', 'Y', #{post }, #{addr })
	</insert>
	
	<select id="list" resultType="member.MemberVO">
		SELECT   @ROWNUM := @ROWNUM + 1 AS no,
		         m.* 
		FROM     member m, (SELECT @ROWNUM := 0) TMP
		WHERE    employ='Y'
		ORDER BY name ASC
	</select>

</mapper>