<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student.mapper">

	<select id="detail" resultType="student.StudentVO">
		SELECT * FROM member WHERE id=#{id }
	</select>
	
	<select id="list" resultType="student.StudentVO">
		SELECT   @ROWNUM := @ROWNUM + 1 AS no,
		         m.* 
		FROM     member m, (SELECT @ROWNUM := 0) TMP
		WHERE    employ='N'
		ORDER BY name ASC
	</select>
	
	<insert id="insert">
		INSERT INTO member(name, gender, birth, phone, email, post, addr, status)
		VALUES (#{name }, #{gender}, #{birth }, #{phone }, #{email }, #{post }, #{addr }, '입학')
	</insert>
	
	<update id="update">
		UPDATE member 
		SET gender=#{gender }, email=#{email }, phone=#{phone }, post=#{post }, addr=#{addr }
		WHERE id=#{id }
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE id=#{id }
	</delete>
	
</mapper>